<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=ESSV7DBS900901A.QCORPAA.AA.COM,14431;Initial Catalog=Payflex;Integrated Security=True" />
    <add key="SourcePath" value="C:\Users\050401\OneDrive - American Airlines, Inc\Documents\Payflex\Download" />
    <add key="OutputPath" value="C:\Users\050401\OneDrive - American Airlines, Inc\Documents\Payflex\Upload" />
  </appSettings>
</configuration>